ul.nav {
	background-color: rgb(245, 245, 245);
	border-radius:5px;
}
ul.nav li.active{
	background-color: rgb(225, 225, 225);
	border-radius:5px;
}

.affix {
 	position: fixed; 
  	top: 80px;
  	width: 220px;
	border-radius: 5px;
}
	
.navbar-font{
	margin-right: 5px;
}
footer.bs-footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
body{
	font-family: 'Open Sans', sans-serif;
}

legend {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 21px;
}
li {
	padding-bottom: 8px;
	color: rgb(180, 207, 198);
}
#audit{
	font-size: 16px;

}
#tools{
	font-size: 16px;

}
#other{
	font-size: 16px;

}
#change{
	font-size: 16px;
}

a{
	color: rgb(0, 86, 60);
}

p {
	font-size: 13px;
	line-height: 185%;
	padding-bottom: 8px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 900;
line-height: 1.1;
}


















